body {
  background-color: #73a857 !important;
  padding-top: 40px
}

button {
  opacity: 1;
}

button:hover {
  opacity: 0.75;
}

a {
  opacity: 1;
}

a:hover {
  opacity: 0.75;
}

blockquote {
  border-left-width: 0px !important;
}

.well {
  background-color: #FFFFFF !important;
}

.light-text {
  background-color: #73a857 !important;
  color: #FFFFFF !important;
}

.dark-text {
  color: #73a857 !important;
}

